.grid{
    display: grid;
    grid-template-columns: auto;
    gap: 0px 20px;
    width: 100%;
}
.col-span-2{
    grid-column: 1 / span 2;
    @media (max-width:769px){
        grid-column: 1 / span 1;
    }
}